<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Connexion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (submit)="onSubmit($event)">
    <ion-list>

      <!-- Name input -->
      <ion-item>
        <ion-label floating>Nom d'utilisateur</ion-label>
        <ion-input type="text" name="name" #nameInput="ngModel" [(ngModel)]="authRequest.name" required></ion-input>
      </ion-item>

      <!-- Error message displayed if the name is invalid -->
      <ion-item *ngIf="nameInput.invalid && nameInput.dirty" no-lines>
        <p ion-text color="danger">Le nom d'utilisateur est requis.</p>
      </ion-item>

      <!-- Password input -->
      <ion-item>
        <ion-label floating>Mot de passe</ion-label>
        <ion-input type="password" name="password" #passwordInput="ngModel" [(ngModel)]="authRequest.password" required></ion-input>
      </ion-item>

      <!-- Error message displayed if the password is invalid -->
      <ion-item *ngIf="passwordInput.invalid && passwordInput.dirty" no-lines>
        <p ion-text color="danger">Le mot de passe est requis.</p>
      </ion-item>

    </ion-list>

    <div padding>

      <!-- Submit button -->
      <button type="submit" [disabled]="form.invalid" ion-button block>Se connecter</button>

      <!-- Error message displayed if the login failed -->
      <p *ngIf="loginError" ion-text color="danger">Nom d'utilisateur ou mot de passe invalide.</p>

      <p>Vous n'êtes pas encore inscrit ? <a (click)="goToRegister()">Inscrivez-vous maintenant</a></p>
    </div>
  </form>
</ion-content>
