<!--
  Generated template for the IssueListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar showCancelButton (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" disabled="{{!filteredIssues}}"></ion-searchbar>
  <ion-spinner *ngIf="!filteredIssues"></ion-spinner>
  <ion-list *ngIf="filteredIssues">
    <button ion-item *ngFor='let issue of filteredIssues' (click)='goToDetails(issue.id)'>
      <ion-thumbnail item-start>
        <img *ngIf='issue.imageUrl' src="{{issue.imageUrl}}">
        <img *ngIf='!issue.imageUrl' src="assets/imgs/placeholder.png">
      </ion-thumbnail>
      <h2>{{issue.description}}</h2>
      <p><ion-icon [name]="loadState(issue)?.icon"></ion-icon> {{loadState(issue)?.name}} • 
      <ion-icon name="person"></ion-icon> {{ issue.creator.firstname }} {{ issue.creator.lastname }}</p>
    </button>
  </ion-list>
</ion-content>
