<!--
  Generated template for the CreateIssuePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CreateIssue</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <form #form="ngForm" (ngSubmit)="logForm(form)">

        <ion-item *ngIf="address">
          <ion-input disabled type="text" name="location" required [(ngModel)]="newIssue.location" ngControl="location" placeholder="Adresse"> {{address}}</ion-input>
        </ion-item>
      
        <ion-item>
          <ion-input  type="text" name="description" required [(ngModel)]="newIssue.description" ngControl="description" placeholder="Description"></ion-input>
        </ion-item>

            <ion-item>
              <ion-input type="text" name="tags" [(ngModel)]="newIssue.tags" ngControl="tags" placeholder="Tags"></ion-input>
            </ion-item>
          
            <ion-item>
                 <button ion-button round outline  (click)='takePicture()'>Attach file</button>
                <img *ngIf='pictureData' [(ngModel)]="newIssue.imageURL" ngControl="imageURL" src='data:image/jpeg;base64,{{ pictureData }}' />

            </ion-item>
          </form>

    <div padding>
        <button ion-button color="light" type="submit" [disabled]="!newIssue.valid" block>Create</button>
      </div>

 
</ion-content>
